@import "../../../../assets/variables.scss";

.period-date {
  text-align: center;

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    column-gap: $g-4;
    justify-content: center;
    margin-top: $m-2;

    .period-date__date-picker {
      width: min-content;
    }
  }

  h1 {
    font-size: large;
    margin-top: $m-1;
  }
}
