@import "../../../assets/variables.scss";

.confirm-delete {
  display: flex;
  flex-direction: column;
  gap: $g-1;

  &__btns {
    display: flex;
    justify-content: space-around;
    margin-top: $m-2;

    .confirm-delete__confirm-btn {
      color: $danger;
      border-color: $danger;
    }
  }
}
