@import "../../assets/variables.scss";

.nav {
  color: white;
  background: $ligt-green;
  padding: $p-2;
  padding-bottom: $p-4;
  border-bottom-left-radius: $br-4;
  border-bottom-right-radius: $br-4;
  height: $nav-height;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $m-1;

  &__hamburger {
    z-index: 99;
    .bi {
      font-size: $i-3;
    }
  }

  .nav__account {
    display: flex;
    align-items: center;
    gap: $g-1;

    .bi {
      font-size: $i-1;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    &__hamburger {
      display: none;
    }
  }
}
