@import "../assets/variables.scss";

.u-active-indicator {
  position: relative;
  opacity: 1;

  &::after {
    content: "";
    width: 120%;
    height: 2px;
    background: white;
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translate(-50%);
  }
}

.u-column-input {
  display: flex;
  flex-direction: column;
  gap: $g-1;
  margin-bottom: $m-2;

  input {
    width: 200px;
  }
}

.u-row-input {
  @extend .u-column-input;
  flex-direction: row;
  align-items: center;
}

.u-muted {
  opacity: 0.8;
  border: none !important;

  &:hover {
    opacity: 1;
  }
}

.u-btn-with-icon {
  display: flex;
  align-items: center;
  gap: $g-1;
}

.u-icon-btn {
  display: block;
  margin: 0 auto;

  .bi {
    font-size: $i-3;
  }
}

.u-icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $ligt-green;
  width: 50px;
  height: 50px;
  padding: $p-1;
  border-radius: 50%;

  .bi {
    font-size: $i-2;
  }
}

.u-btn {
  display: block;
  margin: 0 auto;
  background: $greyish-green;
  padding: $p-1 $p-3;
  border-radius: $br-1;
  font-weight: bold;
  border: 1px solid white;
}

.u-main-container {
  background: $greyish-green;
  border-radius: $br-2;
  margin: -$m-3 auto 0;
  padding: $p-3;
  width: 90%;
  max-height: calc(100vh - $nav-height);
  overflow-y: auto;
}

.u-sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background: $greyish-green;
  padding-bottom: $p-2;

  &::after {
    content: "";
    width: 100%;
    height: $p-3;
    position: absolute;
    top: -$p-3;
    background-color: inherit;
  }
}

.u-text-success {
  color: $ligt-green;
}

.u-text-danger {
  color: $danger;
}
