.u-active-indicator {
  position: relative;
  opacity: 1;

  &::after {
    content: "";
    width: 120%;
    height: 2px;
    background: white;
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translate(-50%);
  }
}

.u-column-input {
  display: flex;
  flex-direction: column;
  gap: $g-1;
}

.u-row-input {
  display: flex;
  align-items: center;
  gap: $g-2;
}

.u-muted {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
