$ligt-green: #306844;
$medium-green: #2c4c3b;
$dark-green: #182c25;
$greyish-green: #455b55;
$saturated-green: #1e453e;
$danger: #dc3545;

// paddings
$p-1: 0.5rem;
$p-2: 1rem;
$p-3: 1.5rem;
$p-4: 2rem;

// margins
$m-1: 1rem;
$m-2: 1.5rem;
$m-3: 2rem;
$m-4: 2.5rem;

// border radius
$br-1: 0.3rem;
$br-2: 1rem;
$br-3: 1.5rem;
$br-4: 2rem;

// icons
$i-1: 1.3rem;
$i-2: 2rem;
$i-3: 2.3rem;

// gaps
$g-1: 0.5rem;
$g-2: 1rem;
$g-3: 1.5rem;
$g-4: 2rem;

// transitions
$t-1: all 0.15s ease-in-out;
$t-2: all 0.3s ease-in-out;

// opacity
$o-muted: 0.8;
