@import "../../assets/variables.scss";

.add-edit-transaction {
  &__amount-group {
    display: flex;
    justify-content: center;
    margin-top: $m-2;

    .add-edit-transaction__amount {
      width: 100px;
      text-align: center;
    }
  }

  &__accounts {
    min-width: 150px;
    width: min-content;
  }

  .u-column-input .add-edit-transaction__date {
    @extend .add-edit-transaction__accounts;
  }
}
