@import "../../../../assets/variables.scss";

.add-edit-transaction__description {
  .add-edit-transaction__header {
    font-weight: normal;
    font-size: 1rem;
  }
  .add-edit-transaction__category {
    position: absolute;
    bottom: -22px;
  }

  .add-edit-transaction__icons {
    display: flex;
    gap: $g-5;
    margin-top: $m-2;
    margin-bottom: calc($m-2 + 22px);
    flex-wrap: wrap;

    .add-edit-transaction__icon {
      position: relative;
      &:hover {
        outline: 2px solid white;
      }

      &--active {
        outline: 2px solid white;
      }
    }
  }
}
