@import "../../../../assets/variables.scss";

.transaction__description {
  .transaction__icons {
    display: flex;
    gap: $g-3;
    margin-top: $m-1;

    .transaction__icon {
      background-color: $ligt-green;
      width: 55px;
      height: 55px;
      padding: $p-1;
      border-radius: 50%;

      &:hover {
        outline: 2px solid white;
      }

      &--active {
        outline: 2px solid white;
      }
    }
  }

  .transaction__brief-desc {
    margin-top: $m-1;
    display: flex;
    align-items: center;
    gap: $g-2;
  }
}
