@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./assets/variables.scss";
@import "./assets/utility";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $dark-green;
  font-family: "Inter", sans-serif;
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
select {
  border: none;
  padding: $p-1;
  border-radius: $br-2;
  font-weight: bold;
  font-size: large;
  color: $dark-green;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

.bi {
  font-size: $i-2;
  color: white;
}

.content-card {
  background: $greyish-green;
  border-radius: $br-2;
  margin: -$m-2 auto 0;
  padding: $p-3;
  width: 90%;
}

.add-btn {
  display: block;
  margin: $m-1 auto $m-1;
}
