@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./assets/variables.scss";
@import "./assets/utility";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $dark-green;
  font-family: "Inter", sans-serif;
  color: white;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: medium;
}

input,
select {
  border: none;
  padding: $p-1;
  border-radius: $br-1;
  font-weight: bold;
  font-size: large;
  color: $dark-green;
}

input[type="number"] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

.bi {
  font-size: $i-2;
  color: white;
}

.content-card {
  background: $greyish-green;
  border-radius: $br-2;
  margin: -$m-3 auto 0;
  padding: $p-3;
  width: 90%;
}
